# System files
.DS_Store
Thumbs.db

# Workspace
.vscode
.idea
.idx
.gemini
.vercel

# Environment
.env
.env.local
.env.*.local
*.secret
*.key
*.pem

# Dependencies
node_modules
dist
dist-ssr
*.sln
*.sw?

